= link_to "Получить Excel", "/churches/churches.xls"
- if @churches.blank?
  %p Записей не обнаружено
- else
  %table{:border=>'1px solid black'}
    %thead
      %tr
        %td id
        %td Название
        %td Сайт
        %td Телефон
        %td Почта
        %td Обновлена
        %td Тип
        %td Тип int
        %td page
        %td m_page
    %tbody
      - @churches.each do |church|
        %tr
          %td= church.id
          %td= church.name
          %td= church.site
          %td= church.phone
          %td= church.posta
          %td= church.updated_at
          %td= get_type_cherch_rus(church.type_church)
          %td= church.type_church
          %td= church.page
          %td= church.mk_type_church