=link_to "Записи с Apps4Alls", '/apps4all/show'
= "  -->  "
=link_to "Получить xls", "/apps4all/apps4all.xls"

%hr

%ul 
  Школы
  %li
    =link_to "Записи \"Языковые курсы\"", '/schools/show_language_courses'
    = "  -->  "
    =link_to "Получить xls", "/schools/language_courses.xls"

  %li
    =link_to "Записи \"Вузы\"", '/schools/show_universities'
    = "  -->  "
    =link_to "Получить xls", "/schools/universities.xls"

  %li
    =link_to "Записи \"Частные школы\"", '/schools/show_private_schools'
    = "  -->  "
    =link_to "Получить xls", "/schools/private_schools.xls"

  %li
    =link_to "Лицеи \"Вузы\"", '/schools/show_lyceums'
    = "  -->  "
    =link_to "Получить xls", "/schools/yceums.xls"

%hr
=link_to "Записи церквей", '/churches/show_all'
= "  -->  "
=link_to "Получить xls", "/churches/churches.xls"

%hr
=link_to "Записи публикаций", '/publishers/show_all'
= "  -->  "
=link_to "Получить xls", "/publishers/publishers.xls"

%hr
=link_to "Записи КИНО,ТЕАТР,МУЗЕИ", '/vash_dosugs/show_all'
= "  -->  "
=link_to "Получить xls", "/vash_dosugs/vash_dosug.xls"
